body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #FFD700; /* gold */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* a fun, child-friendly font */
}

body::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 105, 180, 0.5); /* semi-transparent hot pink */
    border-radius: 50%; /* make it circular */
    z-index: -1; /* put it behind the content */
}

body::after {
    content: "";
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 200px;
    height: 200px;
    background-color: rgba(30, 144, 255, 0.5); /* semi-transparent dodger blue */
    transform: rotate(45deg); /* rotate it to make it a diamond */
    z-index: -1; /* put it behind the content */
}

.greeting {
    text-align: center;
    color: #FF69B4;
    margin-bottom: 100px; /* Add margin to separate from the dropzone */
    font-size: 48px;
}

#cards {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #FF69B4; /* hot pink */
    padding: 20px;
    box-sizing: border-box;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid #1E90FF; /* dodger blue */
    display: inline-block;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    background-color: #ADFF2F; /* green yellow */
    color: #0000FF; /* blue */
    cursor: move;
    user-select: none;
    border-radius: 50%; /* make the cards circular */
}

.dropzone {
    width: 600px; /* Increase width */
    height: 400px; /* Increase height */
    border: 3px dashed #1E90FF; /* dodger blue */
    background-color: #FFD700; /* gold */
    color: #FF69B4; /* hot pink */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px; /* Increase font size */
    border-radius: 20%; /* make the dropzone oval */
}